#home {
	margin-bottom: 21px;

	.home-container {
		position: relative;
		padding-top: 32px;
		padding-left: 19px;
		// background-image: url('/assets/images/image.png');
		// background-repeat: no-repeat;
		// background-size: cover;
		// border-radius: 10px;
		// background-position: bottom right;
	}

	.home-background {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;

		.home-bg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom left;
			border-radius: 30px;
		}

		.home-logo {
			position: absolute;
			width: 400px;
			bottom: 0;
			right: 10px;
		}
	}

	.panel-text {
		max-width: 300px;
		position: relative;
		z-index: 1;
	}

	.section-label {
		margin-bottom: 21px;
	}

	.section-title {
		margin-bottom: 20px;

		font-weight: 800;
	}

	.section-description {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 26px;

		color: var(--bs-normal);
	}

	@each $breakpoint in map-keys($grid-breakpoints) {
		@if map-get($header-height, $breakpoint) {
			@include media-breakpoint-up($breakpoint) {
				height: subtract(100vh, map-get($header-height, $breakpoint));
			}
		}
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 34px;

		.home-container {
			padding-top: 43px;
			padding-left: 36px;
		}

		.home-container {
			border-radius: 20px;
		}

		.panel-text {
			max-width: 400px;
		}

		.section-label {
			margin-bottom: 13px;
		}

		.section-title {
			margin-bottom: 13px;

			font-size: 48px;
			line-height: 58px;
		}

		.section-description {
			font-size: 24px;
			line-height: 26px;
		}
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 1px;

		.home-container {
			border-radius: 30px;
		}

		.panel-text {
			max-width: 692px;
		}

		.section-label {
			margin-bottom: 35px;
		}

		.section-title {
			margin-bottom: 36px;

			font-size: 60px;
			line-height: 72px;
		}

		.section-description {
			font-size: 36px;
			line-height: 26px;
		}
	}
}
